.missionvission{
    background:#f3f3f3 ;
    padding:5rem 0 ;
    // margin: 3rem 0;
    &_mission{
        // margin-bottom: 2rem;
        // border: 1px solid red;
        padding: 2rem 0;
    }
    &_vission{
        // border: 1px solid red;
        padding: 2rem 0;
    }
}