// @import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.featureCard{
    height: 100%;
    padding: 1rem; 
    width: 100%; 
    margin: auto;  
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.226);
    &_conatiner{        
        height: 100%;
        display: flex;
        flex-direction: column;     
        &_image{
            background-color: rgb(224, 224, 224);
            height: 60%;
            display: grid;
            place-items: center;
            position: relative;
            overflow: hidden;
            & img{
                width: 32%;
                transform: translateY(-40px);
            }
            &::after{
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50% 50% 0 0;
                background-color: white;
                bottom: 0;
                left: 50%;
                transform: translate(-50% , 60%);
            }
        }
        &_h4{
            // height: 12%;
            display: flex;
            align-items: center; 
            text-align: center;
            justify-content: center;
            font-size: 22px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            transform: translateY(-30px);
            // paddingrem;
            // border: 1px solid red;
        }
        &_content{
            height: 35%;
            background-color: white;
            text-align: center;  
            display: flex; 
            align-items: center;
            // border: 1px solid red;
            transform: translateY(-11px);
            &_p{
                font-size: 15px;
                font-family: 'Lato', sans-serif;
                letter-spacing: 1px;
                line-height: 1.5rem;
            } 
        }
    }    
}
